    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>2022</h4>
                <dl>
                <dt>Skyrace des Matheysins 🇫🇷</dt>
                <dt>Madeira Skyrace 🇵🇹</dt>
                <dt>Skyrace Comapedrosa 🇦🇩</dt>
                <dt>TDS (@UTMB) 🇮🇹🇫🇷</dt>
                <dt>Pirin Extreme 🇧🇬</dt>
                <dt>Gorbeia Suzien 🇪🇸</dt>
                </dl>
                <br />
                <h4>2021</h4>
                <dl>
                <dt>German Ultratrail Championships: 1st</dt>
                <dd>1st</dd>
                <dt>Styrian Mountain Running Championships (short): 1st</dt>
                <dd>1st</dd>
                <dt>Styrian Mountain Running Championships (long): 1st</dt>
                <dd>1st</dd>
                <dt>Kaiserkrone Marathon Trail: 1st</dt>
                <dd>1st</dd>
                <dt>Ultra Pirineu: 18th</dt>
                <dd>18th</dd>
                <dt>Fastest Known Time Series Austria</dt>
                <dd>FKT Hochschwab</dd>
                <dt>Road marathon: 2:21:56</dt>
                </dl>
                <br />
                <h4>2020</h4>
                <dl>
                <dt>Styrian Mountain Running Championships (long): 3rd</dt>
                <dt>Fastest Known Time Hochlantsch</dt>
                </dl>
                <br />
                <h4>2019</h4>
                <dl>
                <dt>Trail World Championships (Coimbra, Portugal): 81st (1st German)</dt>
                <dt>Harzquerung: 1st</dt>
                </dl>
                <br />
                <h4>2018</h4>
                <dl>
                <dt>100 km World Championships (Sveti na Muri, Croatia): 12th in 6:52:57 (1st German)</dt>
                <dt>German 100 km Championships: 1st</dt>
                <dt>German Ultratrail Championships: 2nd</dt>
                </dl>
                <br />
                <h4>2017</h4>
                <dl>
                <dt>Fuxian Lake Highland Ultramarathon 50K (Yunnan, China): 5th</dt>
                <dt>German Ultratrail Championships: 2nd</dt>
                </dl>
                <br />
                <h4>2016</h4>
                <dl>
                <dt>100 km World Championships (Los Alcazares): 42nd (3rd German)</dt>
                <dt>324 km/5 day stage race from Berlin to the Baltic Sea</dt>
                <dt>German 100 km Championships: 3rd</dt>
                <dt>German Ultratrail Championships: 2nd</dt>
                </dl>
            </div>
        </div>
    </section>
