    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>2021</h4>
                <ul>
                <li>German Ultratrail Championships: 1st</li>
                <li>Styrian Mountain Running Championships (short): 1st</li>
                <li>Styrian Mountain Running Championships (long): 1st</li>
                <li>Kaiserkrone Marathon Trail: 1st</li>
                <li>Ultra Pirineu: 18th</li>
                <li>Fastest Known Time Hochschwab</li>
                <li>Road marathon: 2:21:56</li>
                </ul>
                <br />
                <h4>2020</h4>
                <ul>
                <li>Styrian Mountain Running Championships (long): 3rd</li>
                <li>Fastest Known Time Hochlantsch</li>
                </ul>
                <br />
                <h4>2019</h4>
                <ul>
                <li>Trail World Championships (Coimbra, Portugal): 81st (1st German)</li>
                <li>Harzquerung: 1st</li>
                </ul>
                <br />
                <h4>2018</h4>
                <ul>
                <li>100 km World Championships (Sveti na Muri, Croatia): 12th in 6:52:57 (1st German)</li>
                <li>German 100 km Championships: 1st</li>
                <li>German Ultratrail Championships: 2nd</li>
                </ul>
                <br />
                <h4>2017</h4>
                <ul>
                <li>Fuxian Lake Highland Ultramarathon 50K (Yunnan, China): 5th</li>
                <li>German Ultratrail Championships: 2nd</li>
                </ul>
                <br />
                <h4>2016</h4>
                <ul>
                <li>100 km World Championships (Los Alcazares): 42nd (3rd German)</li>
                <li>324 km/5 day stage race from Berlin to the Baltic Sea</li>
                <li>German 100 km Championships: 3rd</li>
                <li>German Ultratrail Championships: 2nd</li>
                </ul>
            </div>
        </div>
    </section>
