    <!-- Athlete Profile Section -->
    <section id="profile" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Athlete Profile</h2>
                <p><strong>Alex Dautel</strong></p>
                <p><strong>disciplines:</strong> trails (longer = better); doing road/mountain/orienteering/fitness races (Hyrox) for fun</p>
                <p><strong>loves:</strong> technical downhills, eating, chatting with competitors, rolling hills, forests, uphills that need to be hiked, pa amb tomàquet</p>
                <p><strong>hates:</strong> long and gentle uphills (that need to be run), asphalt in trail races</p>
                <p><strong>proud of:</strong> 4 x World Championships for Germany, 2 x German Champion (Ultratrail & 100 km), 325 km stage race with/guiding blind runner Anton Luber, 2:20:52 road marathon as a trail runner</p>
            </div>
        </div>
    </section> 