    <!-- Athlete Profile Section -->
    <section id="profile" class="container content-section text-center profile-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="profile-content">
                    <h2>Athlete Profile</h2>
                    
                    <div class="profile-item">
                        <button class="profile-toggle" data-toggle="collapse" data-target="#disciplines" aria-expanded="false">
                            Disciplines
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <div id="disciplines" class="collapse">
                            <p>trails (longer = better); road/mountain/orienteering/fitness races (Hyrox) for fun</p>
                        </div>
                    </div>
                    
                    <div class="profile-item">
                        <button class="profile-toggle" data-toggle="collapse" data-target="#loves" aria-expanded="false">
                            Loves
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <div id="loves" class="collapse">
                            <p>technical downhills, eating, chatting with competitors, rolling hills, forests, uphills that need to be hiked, pa amb tomàquet</p>
                        </div>
                    </div>
                    
                    <div class="profile-item">
                        <button class="profile-toggle" data-toggle="collapse" data-target="#hates" aria-expanded="false">
                            Hates
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <div id="hates" class="collapse">
                            <p>long and gentle uphills (that need to be run), asphalt in trail races</p>
                        </div>
                    </div>
                    
                    <div class="profile-item">
                        <button class="profile-toggle" data-toggle="collapse" data-target="#proud" aria-expanded="false">
                            Proud of
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <div id="proud" class="collapse">
                            <p>4 x World Championships for Germany, 2 x German Champion (Ultratrail & 100 km), 325 km stage race with/guiding blind runner Anton Luber, 2:20:52 road marathon as a trail runner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 