    <!-- Athlete Profile Section -->
    <section id="profile" class="container content-section text-center profile-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="profile-content">
                    <h2>Athlete Profile</h2>
                    
                    <div class="profile-item">
                        <div class="profile-toggle" data-toggle="collapse" data-target="#disciplines">
                            <span class="profile-label">disciplines:</span>
                            <span class="profile-preview">trails (longer = better) • road/mountain/orienteering...</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div id="disciplines" class="collapse">
                            <div class="profile-full">trails (longer = better) • road/mountain/orienteering/fitness races (Hyrox) for fun</div>
                        </div>
                    </div>
                    
                    <div class="profile-item">
                        <div class="profile-toggle" data-toggle="collapse" data-target="#loves">
                            <span class="profile-label">loves:</span>
                            <span class="profile-preview">technical downhills • eating • chatting with competitors...</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div id="loves" class="collapse">
                            <div class="profile-full">technical downhills • eating • chatting with competitors • rolling hills • forests • uphills that need to be hiked • pa amb tomàquet</div>
                        </div>
                    </div>
                    
                    <div class="profile-item">
                        <div class="profile-toggle" data-toggle="collapse" data-target="#hates">
                            <span class="profile-label">hates:</span>
                            <span class="profile-preview">injuries • long and gentle uphills...</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div id="hates" class="collapse">
                            <div class="profile-full">injuries • long and gentle uphills (that need to be run) • asphalt in trail races</div>
                        </div>
                    </div>
                    
                    <div class="profile-item">
                        <div class="profile-toggle" data-toggle="collapse" data-target="#proud">
                            <span class="profile-label">proud of:</span>
                            <span class="profile-preview">4 x World Championships for Germany...</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div id="proud" class="collapse">
                            <div class="profile-full">4 x World Championships for Germany • 2 x German Champion (Ultratrail & 100 km) • 325 km stage race with/guiding blind runner Anton Luber • 2:20:52 road marathon as a trail runner</div>
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="profile-toggle" data-toggle="collapse" data-target="#contact">
                            <span class="profile-label">contact:</span>
                            <span class="profile-preview">email • strava • insta • X...</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div id="contact" class="collapse">
                            <div class="profile-full">
                                <a href="mailto:dautel@hey.com">email me: dautel@hey.com</a> • 
                                <a style="display:inline-block;background-color:#FC5200;color:#fff;padding:5px 10px 5px 30px;font-size:11px;font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;background-repeat:no-repeat;background-position:10px center;border-radius:3px;background-image:url('https://badges.strava.com/logo-strava-echelon.png')" href='https://strava.com/pros/howtodowtle' target="_clean"><img src='https://badges.strava.com/logo-strava.png' alt='Strava: Alex Dautel' style='margin-left:2px;vertical-align:text-bottom' height=13 width=51 /></a> • 
                                <a href="https://www.instagram.com/howtodowtle">insta</a> • 
                                <a href="https://x.com/howtodowtle">X</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 