    <!-- Races Section -->
    <section id="races" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>2022</h4>
                <dl>
                <dt>Skyrace des Matheysins 🇫🇷</dt>
                <dt>Madeira Skyrace 🇵🇹</dt>
                <dt>Skyrace Comapedrosa 🇦🇩</dt>
                <dt>TDS (@UTMB) 🇮🇹🇫🇷</dt>
                <dt>Pirin Extreme 🇧🇬</dt>
                <dt>Gorbeia Suzien 🇪🇸</dt>
                </dl>
                <br />
                <h4>2021</h4>
                <dl>
                <dt>German Ultratrail Championships: 🥇</dt>
                <dt>Styrian Mountain Running Championships (short): 🥇</dt>
                <dt>Styrian Mountain Running Championships (long): 🥇</dt>
                <dt>Kaiserkrone Marathon Trail: 🥇</dt>
                <dt>Ultra Pirineu: 18th</dt>
                <dt>Fastest Known Time Series Austria: FKT Hochschwab 👑</dt>
                <dt>S7 Marathon: 2:21:56</dt>
                </dl>
                <br />
                <h4>2020</h4>
                <dl>
                <dt>Styrian Mountain Running Championships (long): 🥉</dt>
                <dt>Fastest Known Time Series Austria: FKT Hochlantsch 👑</dt>
                </dl>
                <br />
                <h4>2019</h4>
                <dl>
                <dt>Trail World Championships (Coimbra, Portugal): 81st (1st German)</dt>
                <dt>Harzquerung: 🥇</dt>
                </dl>
                <br />
                <h4>2018</h4>
                <dl>
                <dt>100 km World Championships (Sveti na Muri, Croatia): 12th in 6:52:57 (1st German) - Team 🥉</dt>
                <dt>German 100 km Championships: 🥇</dt>
                <dt>German Ultratrail Championships: 🥈</dt>
                </dl>
                <br />
                <h4>2017</h4>
                <dl>
                <dt>Fuxian Lake Highland Ultramarathon 50K (Yunnan, China): 5th</dt>
                <dt>German Ultratrail Championships: 🥈</dt>
                </dl>
                <br />
                <h4>2016</h4>
                <dl>
                <dt>100 km World Championships (Los Alcazares): 42nd (3rd German)</dt>
                <dt>324 km/5 day stage race from Berlin to the Baltic Sea</dt>
                    <dd>In a team/connected with blind runner Anton Luber.</dd>
                <dt>German 100 km Championships: 🥉</dt>
                <dt>German Ultratrail Championships: 🥈</dt>
                </dl>
            </div>
        </div>
    </section>
