    <!-- Races Section -->
    <section id="races" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Races & Results</h2>
                <h4>2022</h4>
                <dl>
                <dt>🇵🇹 Madeira Skyrace (SWS): 9th</dt>
                    <!-- <dd>56 km, 4.100 m D+</dd> -->
                <dt>🇦🇩 Ultra Comapedrosa: 7th</dt>
                    <!-- <dd>24 km, 2.400 m D+</dd> -->
                <dt>🇮🇹 🇫🇷 TDS (@UTMB): DNF</dt>
                    <!-- <dd>145 km, 9.100 m D+</dd> -->
                </dl>
                <br />
                <h4>2021</h4>
                <dl>
                <dt>🇩🇪 German Ultratrail Championships: 🥇</dt>
                    <!-- <dd>Südthüringen Trail: 65 km, 2.500 m D+</dd> -->
                <dt>🇦🇹 Styrian Mountain Running Championships (short): 🥇</dt>
                    <!-- <dd>Zirbitzkogel-Berglauf: 11 km, 1.100 m D+</dd> -->
                <dt>🇦🇹 Styrian Mountain Running Championships (long): 🥇</dt>
                    <!-- <dd>Kainacher Bergmarathon: 44 km, 1.800 m D+</dd> -->
                <dt>🇦🇹 Kaiserkrone Marathon Trail: 🥇</dt>
                    <!-- <dd>57 km, 3.800 m D+</dd> -->
                <dt>🇦🇹 Hochkönig Skyrace (SWS): 8th</dt>
                <dt>🇪🇸 Ultra Pirineu: 18th</dt>
                    <!-- <dd>100 km, 6.600 m D+</dd> -->
                <dt>🇦🇹 Fastest Known Time Series Austria: Hochschwab FKT 👑</dt>
                    <!-- <dd>FKT Hochschwab 👑</dd> -->
                <dt>🇦🇹 S7 Marathon: 2:21:56</dt>
                    <!-- <dd>2:21:56</dd> -->
                </dl>
                <br />
                <h4>2020</h4>
                <dl>
                <dt>🇦🇹 Styrian Mountain Running Championships (long): 🥉</dt>
                    <!-- <dd>Pyhrn Priel Trail Trophy: 46 km, 2.600 m D+</dd> -->
                <dt>🇦🇹 Fastest Known Time Series Austria: Hochlantsch FKT 👑</dt>
                    <!-- <dd>FKT Hochlantsch 👑</dd> -->
                </dl>
                <br />
                <h4>2019</h4>
                <dl>
                <dt>🇵🇹 Trail World Championships: 81st (1st German)</dt>
                    <!-- <dd>Trilhos dos Abutres (Coimbra, Portugal): 44 km, 2.100 m D+</dd> -->
                <dt>🇩🇪 Harzquerung: 🥇</dt>
                    <!-- <dd>51 km, 1.400 m D+</dd> -->
                </dl>
                <br />
                <h4>2018</h4>
                <dl>
                <dt>🇭🇷 100 km World Championships: 12th (1st German) - Team 🥉</dt>
                    <!-- <dd>6:52:57</dd> -->
                <dt>🇩🇪 German 100 km Championships: 🥇</dt>
                <dt>🇩🇪 German Ultratrail Championships: 🥈</dt>
                    <!-- <dd>Maintal Ultratrail: 65 km, 1.700 m D+</dd> -->
                </dl>
                <br />
                <h4>2017</h4>
                <dl>
                <dt>🇨🇳 Fuxian Lake Highland Ultramarathon 50K: 5th</dt>
                    <!-- <dd>Yunnan 🇨🇳</dd> -->
                <dt>🇩🇪 🇦🇹  German Ultratrail Championships: 🥈</dt>
                    <!-- <dd>Zugspitz Supertrail XL: 81 km, 4.500 m D+</dd> -->
                </dl>
                <br />
                <h4>2016</h4>
                <dl>
                <dt>🇪🇸 100 km World Championships: 42nd (3rd German)</dt>
                    <!-- <dd>Los Alcazares 🇪🇸</dd> -->
                <dt>🇩🇪 Baltic Run</dt>
                    <dd>324 km stage race (5 stages) from Berlin to the Baltic Sea. In team with blind runner Anton Luber.</dd>
                <dt>🇩🇪 German 100 km Championships: 🥉</dt>
                <dt>🇩🇪 German Ultratrail Championships: 🥈</dt>
                    <!-- <dd>Bielstein Ultra Marathon: 65 km, 1.800 m D+</dd> -->
                </dl>
            </div>
        </div>
    </section>
